<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
  <h2>Welcome, <%= user.name || user.email %></h2>
  <pre><%= JSON.stringify(user, null, 2) %></pre>
  <a href="/logout">Logout</a>
</body>
</html>
